:root {
  --color-pink: rgba(200, 52, 59, 0.756);
  --color-pink-darker: rgb(207, 26, 35);
  --color-grey: rgb(241, 240, 240);
  --color-grey-darker: rgb(183, 181, 181);
  --color-blue: rgb(77, 138, 173);
}