.nav {
  height: 100%;
  width: 2fr;
  background: var(--color-blue);
  grid-area: nav;
  padding: 20px 40px 40px 40px;
}

.nav__list {
  list-style: none;
}

.nav__item {
  margin-bottom: 20px;
}

.nav__link {
  color: white;
}

.nav__link.active {
  color: blue;
}